@import '~@fontsource/baskervville/400.css';
@import '~@fontsource/baumans/400.css';
@import '~@fontsource/bayon/400.css';
@import '~@fontsource/bokor/400.css';
@import '~@fontsource/crushed/400.css';

*{
  font-family: "Baumans" !important;
}
.app {
  width: 100%;
  height: 100%;
}